#canvas {
    border: 1px solid black;
}

.file-input {
    margin: 10px;
}

.header {
    text-align: center;
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.block {
    text-align: center;
    margin-bottom: 20px;
}

.label {
    font-size: 18px;
    color: #333;
}

.file-input {
    margin-top: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.canvas-container {
    text-align: center;
}

#canvas {
    border: 1px solid black;
    margin: 0 auto;
}

.subheader {
    text-align: center;
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    margin-top: 40px;
}

.footnote {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.footnote-title {
    color: #4CAF50;
}

.link {
    color: #2196F3;
}

.footer {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-top: 20px;
}

.radio-input {
    margin-right: 10px;
    cursor: pointer; /* クリックできる範囲を明示 */
}

.icon-size-options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 33.33%; /* 画面全体の3分の1の幅に設定 */
    margin: 0 auto; /* 中央揃え */
}

.icon-size-options div {
    display: flex;
    align-items: center;
    cursor: pointer; /* クリックできる範囲を明示 */
    background-color: #e0e0e0; /* 背景色を追加 */
    padding: 5px; /* パディングを追加 */
    border-radius: 5px; /* 角を丸くする */
}

.icon-size-options label {
    margin-left: 5px;
    font-family: 'Arial', sans-serif;
    color: #333;
    cursor: pointer; /* クリックできる範囲を明示 */
    padding: 3px; /* パディングを追加 */
    border-radius: 3px; /* 角を丸くする */
}
