#canvas {
    border: 1px solid black;
}

.file-input {
    margin: 10px;
}

.header {
    text-align: center;
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    color: #666;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
    font-size: 14px;
}

.block {
    text-align: center;
    margin-bottom: 20px;
}

.label {
    font-size: 33px;
    color: #333;
}

.file-input {
    margin-top: 10px;
}


.canvas-container {
    text-align: center;
}

#canvas {
    border: 1px solid black;
    margin: 0 auto;
}

.subheader {
    text-align: center;
    color: #4CAF50;
    font-family: 'Arial', sans-serif;
    margin-top: 40px;
}

.footnote {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.footnote-title {
    color: #4CAF50;
}

.link {
    color: #2196F3;
}

.footer {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-top: 20px;
}

.radio-input {
    margin-right: 10px;
    cursor: pointer; /* クリックできる範囲を明示 */
}

.icon-size-options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 33.33%; /* 画面全体の3分の1の幅に設定 */
    margin: 0 auto; /* 中央揃え */
}

.icon-size-options div {
    display: flex;
    align-items: center;
    cursor: pointer; /* クリックできる範囲を明示 */
    background-color: #e0e0e0; /* 背景色を追加 */
    padding: 5px; /* パディングを追加 */
    border-radius: 5px; /* 角を丸くする */
}

.icon-size-options label {
    margin-left: 5px;
    font-family: 'Arial', sans-serif;
    color: #333;
    cursor: pointer; /* クリックできる範囲を明示 */
    padding: 3px; /* パディングを追加 */
    border-radius: 3px; /* 角を丸くする */
}

#copyButtonArea {
    display: none;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clip-button {
    padding: 15px 15px; /* サイズを小さくしてちょこんと乗るように */
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative; /* 相対配置 */
    top: -45px; /* 親ブロックの右肩に配置 */
    right: -35%; /* 親ブロックの右肩に配置 */
}

.inline-button {
    display: inline-block;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.sns-comment {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.bsky {
    overflow:hidden;
    background-color: white; /* 背景は白 */
    color: black;
    border: 1px solid black; /* 細い黒の実線で囲う */
    border-radius: 15px; /* 丸みを持たせる */
    padding: 1px 10px;
    margin-top: 2px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    margin:-4px 3px;
    height:20px;
}
.bsky img {
    padding: 3px 2px;
    width: 16px;
    vertical-align: middle; /* 画像を中央揃え */
}

#select_background_image:hover, #select_icon_image:hover {
    transform: translateY(-10px); /* 浮き上がり幅を大きく */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5); /* 背景色を薄っすらと目立たせる */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer; /* マウスカーソルをポインターに変更 */
}

#select_background_image:hover::after, #select_icon_image:hover::after {
    content: "CTRL+V";
    position: absolute;
    top: -25px; /* フキダシの位置を調整 */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none; /* フキダシがマウスイベントを受け取らないようにする */
}
